  <!--====== FOOTER PART START ======-->
    
    <section class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="footer-about mt-30">
                        <div class="logo">
                            <a href="#"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
                        </div>
                        <p>Garden-Working , un espace de travail pour les entreprises , start-up , venez travaillez dans un cadre paisible</p>
                        <ul>
                            <li><a href="mailto:help@gmail.com">help@gmail.com</a></li>
                            <li><a href="tel:03xxxxxxxx">03 xx xx xx xx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-list mt-30">
                        <h4 class="title">Entreprise</h4>
                        <ul>
                            <li><a href="#">A propos de nous</a></li>
                            <li><a href="#">Actualités</a></li>
                            <li><a href="#">Contactez-nous</a></li>
                            <li><a href="#">Notre histoire</a></li>
                            <li><a href="#">Notre équipe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-list pl-35 mt-30">
                        <h4 class="title">Navigation</h4>
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Réservation</a></li>
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Termes & condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-address mt-30">
                        <h3 class="title">Adresse</h3>
                        <p>Garden ice , Charleville-Mézieres</p>
{#                         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14612.97540392891!2d90.497437!3d23.70298445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1590471441805!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
 #}                        <span><i class="fa fa-map-marker"></i> Voir sur la carte</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copyright d-block d-md-flex justify-content-between align-items-center">
                            <p>© Copyright 2022 par Drumel Quentin</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-pattern">
            <img src="assets/images/footer-pattern.png" alt="">
        </div>
        <div class="footer-logo">
            <img src="assets/images/footer-logo.png" alt="">
        </div>
    </section>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== GO TO TOP PART START ======-->
    
    <div class="go-top-area">
        <div class="go-top-wrap">
            <div class="go-top-btn-wrap">
                <div class="go-top go-top-btn">
                    <i class="fa fa-angle-double-up"></i>
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== GO TO TOP PART ENDS ======-->