    <!--====== OFFCANVAS MENU PART START ======-->

    <div class="off_canvars_overlay">
                
    </div>
    <div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>  
                        </div>
                        <div class="offcanvas-social">
                            <ul class="text-center">
                                <li><a href="$"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="$"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="$"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="$"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                
                                <li class="menu-item-has-children active">
                                    <a href="#">Accueil</a>
                                </li>

                                 <li class="menu-item-has-children active">
                                    <a href="#">Réservation</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Particulier</a></li>
                                        <li><a href="#">Professionnel</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children active">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Voir les formules</a></li>
                                        <li><a href="#">Plus d'informations</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children active">
                                    <a href="#">A propos de nous</a>
                                </li>
                               
                                <li class="menu-item-has-children active">
                                    <a href="#">Actualités</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="mailto:coWorking@gmail.com"><i class="fa fa-envelope-o"></i> Co-working@gmail.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== OFFCANVAS MENU PART ENDS ======-->
   
    <!--====== HEADER PART START ======-->
    
    <header class="header-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-top">
                            <ul>
                                <li><a href="mailto:needhelp@codesk.com"><i class="flaticon-message"></i> coworkinghelp@gmail.com</a></li>
                                <li><a href="tel:03xxxxxxxx"><i class="flaticon-phone-call"></i> 03 xx xx xx xx</a></li>
                                <li><a href="#"><i class="flaticon-placeholder"></i> Garden ice, 08000 Charleville-Mézieres</a></li>
                            </ul>
                            <div class="dropdown d-none d-md-block">
                                <img src="{{ asset('images/banque/maps.png') }}" alt="">
                                <select>
                                    <option value="1">Français</option>
                                    <option value="2">Anglais</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-header-item d-flex justify-content-between align-items-center">
                            <div class="main-header-menus  d-flex">
                                <div class="header-logo">
                                    <a href="#"><img src="{{ asset('images/banque/logo.png') }}" alt="logo"></a>
                                </div>
                                <div class="header-menu d-none d-lg-block">
                                    <ul>
                                        <li>
                                            <a class="active" href="#">Accueil</a>
                                          
                                        </li>

                                         <li>
                                            <a href="#">Réservation <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Particulier</a></li>
                                                <li><a href="#">Professionnel</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li>
                                            <a href="#">A propos de nous</a>
                                        </li>
                                       
                                        <li>
                                            <a href="#">Services  <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Voir les formules</a></li>
                                                <li><a href="#">Plus d'informations</a></li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Actualités</a>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-social d-flex align-items-center">
                                <ul class="d-none d-lg-block">
                                    <li><a href="$"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="$"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="$"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="$"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--====== HEADER PART ENDS ======-->