{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!--====== BANNER PART START ======-->
    <section class="banner-slide">
        <div class="banner-area bg_cover d-flex align-items-center" style="background-image: url({{ asset('images/banque/banner-bg-1.jpg') }});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-slide-number">
                            <span>01</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner-content">
                            <span data-animation="fadeInDown" data-delay=".1s"><img src="{{ asset('images/banque/banner-icon.png') }}" alt=""> Bienvenue sur Garden-Working</span>
                            <h1 data-animation="fadeInLeft" data-delay=".5s" class="title">Un espace Co-Working pour les particulier</h1>
                            <a data-animation="fadeInLeft" data-delay="1s" class="main-btn" href="#">Voir les Services particulier</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-social">
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
        <div class="banner-area bg_cover d-flex align-items-center" style="background-image: url({{ asset('images/banque/banner-bg-2.jpg') }});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-slide-number">
                            <span>02</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner-content">
                            <span data-animation="fadeInDown" data-delay=".1s"><img src="{{ asset('images/banque/banner-icon.png') }}" alt="">Bienvenue sur Garden-Working</span>
                            <h1 data-animation="fadeInLeft" data-delay=".5s" class="title">Un espace Co-Working pour les professionnelles</h1>
                            <a data-animation="fadeInLeft" data-delay="1s" class="main-btn" href="book-a-tour.html">Voir services professionnelles</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-social">
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </section>
    
    <!--====== BANNER PART ENDS ======-->

    <!--====== BEST CREATIVE PART START ======-->
    
    <section class="best-creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="best-creative-bg">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="best-creative-content">
                                    <h3 class="title">Offres d'espaces de coworking.</h3>
                                    <p>Nous proposons plusieurs offres d'espaces de coworking. Comparez-les ci-dessous et choisissez l'offre idéale pour votre entreprise. Puis, contactez notre équipe quand vous serez prêt à sauter le pas.</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="best-creative-list">
                                    <div class="best-creative-seats">
                                        <i class="flaticon-computer"></i>
                                        <h3 class="title counter">17</h3>
                                        <p>Places disponible</p>
                                        <span>Aux total 25 Places</span>
                                    </div>
                                    <div class="best-creative-list-item">
                                        <ul>
                                            <li><i class="fa fa-check"></i>Connexion haut débit</li>
                                            <li><i class="fa fa-check"></i>Salles de réunion</li>
                                            <li><i class="fa fa-check"></i>Personnel et Restauration sur place</li>
                                            <li><i class="fa fa-check"></i>Imprimantes professionnelles</li>
                                            <li><i class="fa fa-check"></i>Événements professionnels et rencontres informelles</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== BEST CREATIVE PART ENDS ======-->


    <!--====== SPACE TO MAKE PART START ======-->
    
    <section class="space-to-make-area pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="space-to-make-thumb animated wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <img src="assets/images/space-to-make-thumb.jpg" alt="">
                        <div class="thumb-content">
                            <span>Salle <br> et <br> Réunion</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="space-to-make-content">
                        <h3 class="title">Rejoignez un réseau dynamique</h3>
                        <p>Tous nos espaces de travail accueillent une grande diversité d'entreprises. Travaillez aux côtés de professionnels qui vous ressemblent et collaborez avec d'autres entreprises grâce à nos différents événements de réseautage.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="space-to-make-item mt-30">
                                    <a href="#">
                                        <i class="flaticon-workspace"></i>
                                        <span>Espaces de travail professionnels conviviaux</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="space-to-make-item mt-30">
                                    <a href="#">
                                        <i class="flaticon-meeting"></i>
                                        <span>Espaces de travail professionnels et salles de Réunion</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="text">créez de nouvelles opportunités pour votre entreprise.</p>
                        <a class="main-btn main-btn-2" href="book-a-tour.html">Voir les Services Professionnels</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-pattern">
            <img src="assets/images/shape-pattern.png" alt="">
        </div>
        <div class="shape-pattern-2">
            <img src="assets/images/we-know-line.png" alt="">
        </div>
    </section>
    
    <!--====== SPACE TO MAKE PART ENDS ======-->


{% endblock %}
