<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/banque/we-know-logo.png') }}" type="image/png">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <!--Préloader -->

     <!-- PRELOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
    {# {% include "layouts/_preloader.html.twig" %} #}

    <!--barre de Navigation -->
    {% include "layouts/_navbarre.html.twig" %}

        
        {% block body %}{% endblock %}

        


    <!--Footer -->
    {% include "layouts/_footer.html.twig" %}


    </body>
</html>
